<!DOCTYPE html>
<html lang="en">
<head>
  <!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/newsportal.css" %}">

</head>
<body>
    <h1> Movie news info..Headlines of today </h1>
    <ul>
        <h2><li>{{news1 | upper}}</li></h2>
        <h2><li>{{news2 | lower}}</li></h2>
        <h2><li>{{news3 | title}}</li></h2>
        <h2><li>{{news4}}</li></h2>
        <h2><li>{{news5}}</li></h2>
    </ul>
    <img src="{%static "/images/cloudybg.png"%}">
    <img src="{%static "/images/cloudybg.png"%}">
    <img src="{%static "/images/cloudybg.png"%}">
    <img src="{%static "/images/cloudybg.png"%}">
    <img src="{%static "/images/cloudybg.png"%}">
    <img src="{%static "/images/cloudybg.png"%}">
</body>
</html>